{
  --r-link-color: #e4007f;
  --r-link-color-dark: #e4007f;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: #e4007f;
  --r-selection-color: #fff;
}

.reveal section h1{
  color: #e4007f;
},
.reveal section h2{
  color: #e4007f
},
.reveal section h3 {
  color: black;
}


